SUPABASE_URL="https://nqcljipafsfatnooppij.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xY2xqaXBhZnNmYXRub29wcGlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyODE4NjAsImV4cCI6MjA2Mjg1Nzg2MH0.ZCVcJBxPhA1FvUFRqfF5OELQZVdHWuNcf7UDhNYaRho"